body{
    font-family: 'Medodica';
    background-image: url('images/mainbackground.png');
    overflow-x: auto;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    cursor: url('images/normal.png'), auto;
}

body::selection {
  color: rgb(255, 0, 212);               /* Text color when selected */
  background-color: #80ecfa;  /* Background color when selected */
}

.everything{
    position:relative;

}

@keyframes moveSlightly {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(4px, 6px); }
  100% { transform: translate(0, 0); }
}

@font-face{
    font-family: 'Medodica';
    src: url('Fonts/MedodicaRegular.otf');

}




.header{
    display: block;
    animation: moveSlightly 2s infinite ease-in-out;
    margin:auto;
}
.head{
    background-image: url('images/header-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
}

.window{
    background:linear-gradient(180deg,
        #8a8a8a 1%,
        #dddddd 2%,
        #b8b8b8 90%
    );
    /* classic 90s border */
    border-top:2px solid #ffffff;
    border-left:2px solid #ffffff;
    border-right:2px solid #404040;
    border-bottom:2px solid #404040;

    box-shadow:
        inset -1px -1px #808080,
        inset 1px 1px #dfdfdf,
        5px 5px 0px rgba(0,0,0,0.3);

    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    max-width: 1000px;
    margin:50px auto;

}

.layout{
    position:relative;

    width:1200px;

    margin:auto;
}

/* TITLE BAR */
.title-bar{
    background:linear-gradient(180deg,
        #afafaf 1%,
        #707070 2%,
        #dadada 90%
    );

    color:rgb(0, 0, 0); 
    padding:6px 8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:bold;
    font-size:20px;
    padding-left: 10px;
}

/* BUTTONS */
.window-buttons{
    display:flex;
    gap:4px;
}
#minicon{
    padding-right: 5px;
}

.window-buttons button{
    width:18px;
    height:18px;
    border:none;
    background:#c0c0c0;

    border-top:2px solid #ffffff;
    border-left:2px solid #ffffff;
    border-right:2px solid #404040;
    border-bottom:2px solid #404040;

    font-size:11px;
    cursor:pointer;
    padding:0;
}


#box-subheader{
    font-size: 20px;
    font-style: italic;
    background-image: url('images/desktop.png');
    border-top: solid 4px rgb(151, 115, 175);
    border-bottom: solid 4px rgb(148, 115, 175);
    font-weight: 100;
    color: #f7d1ff;
    font-weight: 600;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(240, 217, 255);

}

.top{
    display: block;
    z-index: 2;
    padding-top: 50px;
    margin: auto;
}


.card{
    background-image: url('images/window-bg.png');
    border: solid 3px black;
    background-size: contain;
    display: block;
}

.navbar{
    font-size: 40px;
    background-color: white;
    text-align: center;
    z-index: 3;
    color: pink;
    margin: 5px;
}

.nav-window{
    position: absolute;
    width:220px;

    background:linear-gradient(
        180deg,
        #8a8a8a 1%,
        #dddddd 2%,
        #b8b8b8 90%
    );

    border-top:2px solid #ffffff;
    border-left:2px solid #ffffff;
    border-right:2px solid #404040;
    border-bottom:2px solid #404040;

    box-shadow:
        inset -1px -1px #808080,
        inset 1px 1px #dfdfdf,
        5px 5px 0px rgba(0,0,0,0.3);

    z-index:3;
    top: 350px;
    max-height: 470px;
    left: -20px;
    flex:none;
}


.page-divider{
    padding-top: 20px;
    display: flex;
    height: 33px;
    gap: 10px;
}

.welcome{
    display:flex;

    max-width:700px;
    max-height:300px;

    padding:20px;

    margin:-50px auto 0 auto;

    border-top:4px solid #ffffff;
    border-left:4px solid #cacaca;
    border-right:4px solid #582f70;
    border-bottom:4px solid #000000;

    image-rendering:pixelated;

    font-size:20px;

    background-image:url('images/miku.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.welcome-info{
    background-color: #d7c8e28f;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

#banana{
    width: 300px;
}

.gato{
    position: absolute;
    top: 220px;
    width: 300px;
    left: 760px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li{
    margin: 10px;
    background: linear-gradient(180deg, rgb(163, 163, 163) 50%, rgb(199, 199, 199) 56%, rgb(226, 226, 226));
    border-top:2px solid #ffffff;
    border-left:2px solid #ffffff;
    border-right:2px solid #404040;
    border-bottom:2px solid #000000;
    margin-left: 5px;
    margin-right: 5px;
}


ul li a{
    text-decoration: none;
    color: rgb(49, 49, 49);
    display: block;
    padding: 7px;
        cursor: url('images/link.png');
}
ul li a:hover{
    background: linear-gradient(180deg, rgb(205, 191, 206) 50%, rgb(227, 214, 228) 56%, rgb(180, 167, 182));
    color: white;
    cursor: url('images/link.png'),pointer;


}

/* UPDATESSSS */

.updates{
    width:350px;
    margin-top: -50px;
    background-image: url('images/scroll.png');
    font-size: 25px;
    padding:15px;
    color: rgb(255, 255, 255);
    border-top:4px solid #ffffff;
    border-left:4px solid #cacaca;
    border-right:4px solid #655270;
    border-bottom:4px solid #7e7486;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



.update{
    margin-top: 10px;
    margin-bottom:20px;
    background-color: #923dac28;
    border-bottom:2px dashed rgb(255, 255, 255);
    padding: 5px;
}

#updates{
    margin: auto;
    display: block;
    width: 180px;
}

.tomo{
    top: 1px;
    position: absolute;
    width: 200px;
    left: 150px;

}

/*stamps*/

.stamp-scroll{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    margin-top: 6px;

}

.stamp-track{
    display:inline-flex;

    animation:scroll 20s linear infinite;
}

.stamp-track img{
    height:50px;
    margin-right:4px;
}

.stamp-track img:hover{
    transform: scale(1.06);
    box-shadow: 0 12px 20px rgba(0,0,0,0.35);
}

@keyframes scroll{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}


/* miku */

.miku{
    position:absolute;
    width: 200px;
    z-index: 2;
    top: 35px;
    left: 850px;
}

/* bottom */

.bottom{
    display: flex;
    width:fit-content;
    margin-top: 90px;
    margin-left: 9px;
    margin-right: 10px;
    padding-bottom: 10px;
    gap: 10px;

}

.sites{
    overflow: scroll;
    overflow-x: hidden;
    width: 270px;
    height: 300px;
    margin-top: -80px;
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
    background-image: url('images/sitebg.gif');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border: solid 3px rgb(163, 119, 165);
}



.sites::-webkit-scrollbar {
    width: 13px;
}

.sites::-webkit-scrollbar-track {
    background: #dac4da;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #404040;
}

.sites::-webkit-scrollbar-thumb {
    background: #c398e0;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;
}

.sites::-webkit-scrollbar-thumb:hover {
    background: #ac88aa;
}

::-webkit-scrollbar-corner {
    background: #c0c0c0;
}



.site-list img{
    width: 110px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.site-list img:hover{
    transform: scale(1.2);
}

#sitess{
    background-color: rgba(255, 255, 255, 0.24);
}

#boop{
    background-color: rgba(255, 255, 255, 0.39);
}


/* Chat Box*/

.chatbox{
    background-color: #7f728662;
    max-height: 315px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background:linear-gradient(
        180deg,
        #8a8a8a 1%,
        #dddddd 2%,
        #b8b8b8 90%
    );

    border-left:.5px solid #00000044;
    border-right:3px solid #404040;
    border-bottom:3px solid #404040;

    box-shadow:
        inset -1px -1px #808080,
        inset 1px 1px #dfdfdf,
        5px 5px 0px rgba(0,0,0,0.3);

}

.window-chat{

    position: absolute;
    left: 1000px;
    top: 270px;
    background:linear-gradient(
        180deg,
        #8a8a8a 1%,
        #dddddd 2%,
        #b8b8b8 90%
    );

    border-top:1px solid #ffffff;
    border-left:1px solid #000000;
    border-right:3px solid #404040;


    
}

.title-bar-chat{
    background:linear-gradient(180deg,
        #afafaf 1%,
        #707070 2%,
        #dadada 90%
    );

    color:rgb(0, 0, 0); 
    padding:6px 8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:bold;
    font-size:20px;
    padding-left: 10px;
}

/* Music playa*/

.music-player{
    margin-top: -60px;
}

.window-player{
    margin-top: -80px;
    width: 690px;
    height: 295px;
    border: solid 3px #5e5e5e;
    background-color: #e2e2e2;
    margin-left: auto;
    position: relative;
}

.cover{
    position: absolute;
    width: 210px;
    top: 46px;
    left: 15px;
    border: solid 2px #000000;
}

.controls{
    display:flex;
    position:absolute;
    bottom: 43px;
    left: 240px;
    display:flex;
    gap:1px;

}

#title{
    position: absolute;
    top: 100px;
    left: 300px;
    color: #2e2e2e;
}

#artist{
    position: absolute;
    top: 50px;
    left: 300px;
    color: #2e2e2e;
}

.gengar{
    position: absolute;
    left: 1000px;
    z-index: 3;
    top: 930px;
    width: 160px;
}

.mini-window{
    position: absolute;
    width: 350px;
    border-top:3px solid #ffffff;
    border-left:3px solid #dadada;
    border-right:3px solid #404040;
    right: -350px;
    background-color: #7e7e7e;
}

.mini-window2{
    position: absolute;
    width: 400px;
    left: -350px;
    top: 60px;
    border-top:3px solid #ffffff;
    border-left:3px solid #cfcfcf;
    border-right:3px solid #b4b4b4;
    background-color: #8a8a8a; 
    
}

.mini1{
    width: 345px;
    border: solid rgba(0, 0, 0, 0.116) 1px;
    padding: 2px;
}

.mini2{
    width: 395px;

    border: solid rgba(0, 0, 0, 0.11) 1px;

}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media screen and (max-width:768px){

    .window{
        max-width: 500px;
    }

    .nav-window{
        position:static;

        width:100%;
        max-width:400px;

        margin:20px auto;

        left:auto;
        right:auto;
        top:auto;
    }


    .mini-window2{
        display:none;
    }

    .page-divider4,
    .page-divider3,
    .title-bar-chat,
    .chatbox,
    .window-chat,
    .gato,
    .gengar,
    .tomo{
        display:none;
    }

    .bottom{
        flex-wrap:wrap;
        justify-content:center;
    }

    .sites{
        padding-bottom: 80px;
        margin-left: 400px;
        height: 160px;
        margin-bottom: 100px;
        margin-left: 270px;
        width: 200px;
    }

    .window-player{
        width:100%;
        max-width:450px;
        height: 200px;
        overflow:hidden;
    }

    .music-player{
        width: 449px;
        height: 198px;
        padding-top: 27px;
    }

    .cover{
        width: 129px;
    }

    .button1,
    .button2,
    .button3{
        width: 54px;
        top: 50px;
    }

    .controls{
        left: 156px;
        bottom: 27px;
    }

    #artist{
        top: 35px;
        left: 200px;
    }

    #title{
        top: 66px;
        left: 200px; 
    }

    .mini-window{
        position: absolute;
        left: 360px;
        top: 1134px;
        width: 250px;
        height: 240px;
    }

    .mini1{
        width: 240px;
        height: 200px;
    }

    .welcome{
        max-width: 420px;
        height: 200px;
        font-size: 15px;
    }

    #banana{
        width: 200px;
        height: 150px;
        margin: auto;
    }

    .header{
        width: 340px;
    }
    
    .page-divider{
        width: 50px;
    }

    .miku{
        position: absolute;
        top: 530px;
        left: 730px;
        width: 150px;
    }

}
